{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{form|crispy}}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sing up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Login</a>
                <br>
            </small>
        </div>
    </div>
{% endblock %}